.full-form {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.44545454545454544) 0%, rgba(117,137,158,0.4818181818181818) 20%, rgba(40,54,233,0.4636363636363636) 65%);
    width: 700px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;

}

.badge {
    width: 500px;
    margin: auto;
    background: rgb(215, 223, 231);
    border: solid black 2px;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
}
.badge-food {
    margin-left: 100px;
}
.badge-contents {
    padding: 10px;
    font-weight: 900;
}
.badge-label { 
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,58,121,0.5102415966386555) 20%, rgba(118,188,203,1) 100%);
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size:larger
}

.firstSet {
    display: flex;
    flex-direction: column;
}
.secondSet {
    display: flex;
    flex-direction: column;
}

.form-content {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
}

.badge-info {
    display:flex;
    gap: 20px;
}

textarea {
    width: 653px;
    height: 150px;
}

.input-field {
    width: 312px;
}

button {
    width: 100px;
    margin: auto;
}