.dice {
    margin: auto;
    border-radius: 10px;
    
    width: 250px;
    text-align: center;

}

.diceNumbers {
    border-radius: 150px;
    border: solid 2px;
    background-color: bisque;
    height: 250px;
    margin-top: 100px;
    
}